# --- DATABASE CONFIG ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_DB_USER_SERVICE=user-service
POSTGRES_DB_JOB_SERVICE=job-service
POSTGRES_DB_COMPANY_SERVICE=company-service
POSTGRES_DB_APPLY_SERVICE=application-service
POSTGRES_DB_PAYMENT_SERVICE=payment-service
POSTGRES_DB_CV_SERVICE=cv-service

# --- INFRASTRUCTURE ---
REDIS_HOST=redis
REDIS_PORT=6379
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
EUREKA_SERVER_URL=http://eureka-server:8761/eureka

# --- SECURITY & OAUTH ---
JWT_SIGNER_KEY=8c37d35651c4f1a0e373e08cd6eababff9903dc1aeb20581fc9f56a302c6cf60
OUTBOUND_GOOGLE_CLIENT_ID=your_google_client_id
OUTBOUND_GOOGLE_CLIENT_SECRET=your_google_client_secret
OUTBOUND_GOOGLE_REDIRECT_URI=your_redirect_uri

# --- THIRD PARTY ---
OPENROUTER_API_KEY=your_openrouter_key

# --- SYSTEM ---
DOCKER_CONTEXT=./backend
